body {
	margin: 0;
	background: #666666;
	text-align: center; /* hack para o IE */
}
body img{
	border:0px;	
}
.tudo {
	width: 1024px;
	margin: 0 auto;
	/* text-align: left; "remédio" para o hack do IE */
}
.tudo a:link, a:visited {
text-decoration: none
}
.tudo a:hover {
text-decoration: underline;
color: #f00
}
.tudo a:active {
text-decoration: none
}
.conteudo {
	background-color: #fff;
}
.banner{
	text-align: center;
	background:url(../imagens/index_02.jpg);
	height: 104px;
}
.banner a{
	font-size: 70px;
	font-family: Impact, Charcoal, sans-serif;
	color: blue;
}
body a{
	font-family: "arial";
	font-size: 14px;
	text-decoration: none;
	color:#464646;
	font: bold;
}


--------------

#menu_imagens{
	margin: 0px auto;
	width: 1024px;	
	background-color: #666666;
}

#menu_imagens img{	
	border:0px;
}
#barraStatus{
	text-align:right;
	position:relative;
	font-size: 20px;
	background-color: transparent;
}
#topo{
	font-family: sans-serif;
	font-size: 22px;
	font-weight:bold;
	background-image: url("../imagens/menuFundo2.jpg");
	background-size:100% 100%;	
	padding: 5px;
}
#espaco{
	background-color:#666666;
	
	}
#menu_links{
	position:relative;
	top:-0px;
	font-size: 16px;
	font-family: "Lucida Console", Monaco, monospace;
	text-align: right;	
}

.menuCategorias{
	width: 100%;
}
.coluna1{
	vertical-align: top;
	width: 15%;
	left: 10%;
	}
.coluna2{
	vertical-align: top;
	height: 90%;
}
#tabelaMaior{
	width: 100%;
	height: 800px;
	
	}
.coluna3{
	position:relative;
	top:63.5px;
	width:45%;
	left:%;
	vertical-align: top;
}
.bordaColuna2{
	height: 220px;
	border-color: gray;
	}
#footer{
	background-color:#666666;
}

#footer a{
	font-family: "arial";
	font-size: 12px;
	text-decoration: none;
	color:#ffffff;	
}

.tituloColuna{
	width:100%;
	background-color:#f0f0f0;
	color: #464646;	
}
.vazio{
	color: #464646;	
}

.fotoCarrinho{
	width:80px;
	height:80px;	
}

.linhaProduto{
	text-align: center;	
}
.linhaSubTotal{
	text-align: right;	
}

.tamanhoColuna{
	width:150px;	
}
.borda{
	border:2px dotted #E4E3E3;
}
.borda h2{
	color: #464646;
	background-color:#f0f0f0;
}
.linhaDivisao{
	border-right: 1px dotted #E4E3E3;
	border-bottom: 1px dotted #E4E3E3;
}
.msgCarrinhoVazio{
	padding:0;
	vertical-align:middle;
	height:140px;
	font-size:1.45em;
	text-align:center;
	font-weight:bold;
}
.subTotal{
	text-align: center;
	border:1px double;
}
.total{
	text-align: center;
	background-color: #FF0000;	
}
.finalizarPedido{
	text-align: center;
	font-weight:bold;
	
	font-size:3.45em;
	background-color:#f0f0f0;
}
.alinhamentoLogin{
	left: 10px	
}
.nomeCategoria{
	text-align:left;
	font-family: arial;
	font-size: 19px;
	font-weight: bold;
	margin: 10px;
	color: #ccc;
}
.nomeProduto{
	font-size: 19px;
	font-weight: bold;
	color: teal;
}
.precoProduto{
	font-size: 20px;
	color: red;
}
.erroPage{
	text-align: center;
	font-size: 30px;
	color: #464646;
}
.esgotado{
	position:relative; 
	top: 5px; 
	left: px;
	-webkit-transform: rotate(-10deg);
	-moz-transform: rotate(-10deg); 
	-o-transform: rotate(-10deg);
	filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=0);
}

-------

.linkDeDecisao{
	margin-bottom: 20;	
	color: #f00;
}
.linkDeDecisao a{
	margin-bottom: 20;	
	color: #f00;
}
.cadastraCategoria, td{
	  width: 400;
	  border-bottom: 2px double #E4E3E3;
}

