<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" version="2.5">
  <display-name>renowe</display-name>
  <welcome-file-list>
    <welcome-file>index</welcome-file>
  </welcome-file-list>
  <session-config>
    <session-timeout>10</session-timeout>
  </session-config>
  <servlet>
    <description></description>
    <display-name>CadastraCategoria</display-name>
    <servlet-name>CadastraCategoria</servlet-name>
    <servlet-class>br.com.renowe.view.admin.categorias.CadastraCategoria</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CadastraCategoria</servlet-name>
    <url-pattern>/admin/cadastraCategoria</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>HomeAdmin</display-name>
    <servlet-name>HomeAdmin</servlet-name>
    <servlet-class>br.com.renowe.view.admin.HomeAdmin</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>HomeAdmin</servlet-name>
    <url-pattern>/admin/homeAdmin</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>HomeAdmin</servlet-name>
    <url-pattern>/admin/</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ListaCategorias</display-name>
    <servlet-name>ListaCategorias</servlet-name>
    <servlet-class>br.com.renowe.view.admin.categorias.ListaCategorias</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ListaCategorias</servlet-name>
    <url-pattern>/admin/listaCategorias</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>MostraCategoria</display-name>
    <servlet-name>MostraCategoria</servlet-name>
    <servlet-class>br.com.renowe.view.admin.categorias.MostraCategoria</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MostraCategoria</servlet-name>
    <url-pattern>/admin/mostraCategoria</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DeletaCategoria</display-name>
    <servlet-name>DeletaCategoria</servlet-name>
    <servlet-class>br.com.renowe.view.admin.categorias.DeletaCategoria</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeletaCategoria</servlet-name>
    <url-pattern>/admin/deletaCategoria</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>EditaCategoria</display-name>
    <servlet-name>EditaCategoria</servlet-name>
    <servlet-class>br.com.renowe.view.admin.categorias.EditaCategoria</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EditaCategoria</servlet-name>
    <url-pattern>/admin/editaCategoria</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Home</display-name>
    <servlet-name>Home</servlet-name>
    <servlet-class>br.com.renowe.view.loja.Home</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Home</servlet-name>
    <url-pattern>/loja/home</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>Home</servlet-name>
    <url-pattern>/loja/</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ListaProdutos</display-name>
    <servlet-name>ListaProdutos</servlet-name>
    <servlet-class>br.com.renowe.view.admin.produtos.ListaProdutos</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ListaProdutos</servlet-name>
    <url-pattern>/admin/listaProdutos</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ListaPedidos</display-name>
    <servlet-name>ListaPedidos</servlet-name>
    <servlet-class>br.com.renowe.view.admin.pedidos.ListaPedidos</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ListaPedidos</servlet-name>
    <url-pattern>/admin/listaPedidos</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>MostraPedido</display-name>
    <servlet-name>MostraPedido</servlet-name>
    <servlet-class>br.com.renowe.view.admin.pedidos.MostraPedido</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MostraPedido</servlet-name>
    <url-pattern>/admin/mostraPedido</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ListaClientes</display-name>
    <servlet-name>ListaClientes</servlet-name>
    <servlet-class>br.com.renowe.view.admin.clientes.ListaClientes</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ListaClientes</servlet-name>
    <url-pattern>/admin/listaClientes</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CadastraProduto</display-name>
    <servlet-name>CadastraProduto</servlet-name>
    <servlet-class>br.com.renowe.view.admin.produtos.CadastraProduto</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CadastraProduto</servlet-name>
    <url-pattern>/admin/cadastraProduto</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>MostraProduto</display-name>
    <servlet-name>MostraProduto</servlet-name>
    <servlet-class>br.com.renowe.view.admin.produtos.MostraProduto</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MostraProduto</servlet-name>
    <url-pattern>/admin/mostraProduto</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DeletaProduto</display-name>
    <servlet-name>DeletaProduto</servlet-name>
    <servlet-class>br.com.renowe.view.admin.produtos.DeletaProduto</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeletaProduto</servlet-name>
    <url-pattern>/admin/deletaProduto</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>EditaProduto</display-name>
    <servlet-name>EditaProduto</servlet-name>
    <servlet-class>br.com.renowe.view.admin.produtos.EditaProduto</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EditaProduto</servlet-name>
    <url-pattern>/admin/editaProduto</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AlteraImagem</display-name>
    <servlet-name>AlteraImagem</servlet-name>
    <servlet-class>br.com.renowe.view.admin.produtos.AlteraImagem</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AlteraImagem</servlet-name>
    <url-pattern>/admin/alterarImagem</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Index</display-name>
    <servlet-name>Index</servlet-name>
    <servlet-class>br.com.renowe.view.Index</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Index</servlet-name>
    <url-pattern>/index</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>MostraCategoriaLoja</display-name>
    <servlet-name>MostraCategoriaLoja</servlet-name>
    <servlet-class>br.com.renowe.view.loja.MostraCategoria</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MostraCategoriaLoja</servlet-name>
    <url-pattern>/loja/mostraCategoria</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>esqueceuDados</display-name>
    <servlet-name>esqueceuDados</servlet-name>
    <servlet-class>br.com.renowe.view.loja.esqueceuDados</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>esqueceuDados</servlet-name>
    <url-pattern>/loja/esqueceuDados</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>MostraProdutoLoja</display-name>
    <servlet-name>MostraProdutoLoja</servlet-name>
    <servlet-class>br.com.renowe.view.loja.MostraProduto</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MostraProdutoLoja</servlet-name>
    <url-pattern>/loja/mostraProduto</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddCarrinho</display-name>
    <servlet-name>AddCarrinho</servlet-name>
    <servlet-class>br.com.renowe.view.loja.AddCarrinho</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddCarrinho</servlet-name>
    <url-pattern>/loja/addCarrinho</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ListaProdutosCarrinho</display-name>
    <servlet-name>ListaProdutosCarrinho</servlet-name>
    <servlet-class>br.com.renowe.view.loja.ListaProdutosCarrinho</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ListaProdutosCarrinho</servlet-name>
    <url-pattern>/loja/listaProdutosCarrinho</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>PegaTotalPedido</display-name>
    <servlet-name>PegaTotalPedido</servlet-name>
    <servlet-class>br.com.renowe.view.loja.pegaTotalPedidio</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PegaTotalPedido</servlet-name>
    <url-pattern>/loja/pegarTotalPedido</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CadastraPedidoLoja</display-name>
    <servlet-name>CadastraPedidoLoja</servlet-name>
    <servlet-class>br.com.renowe.view.pedido.CadastraPedidoLoja</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CadastraPedidoLoja</servlet-name>
    <url-pattern>/pedido/cadastraPedido</url-pattern>
  </servlet-mapping>
  <filter>
    <display-name>LoginLoja</display-name>
    <filter-name>LoginLoja</filter-name>
    <filter-class>br.com.renowe.view.pedido.LoginLoja</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>LoginLoja</filter-name>
    <url-pattern>/pedido/*</url-pattern>
  </filter-mapping>
  <servlet>
    <description></description>
    <display-name>Login</display-name>
    <servlet-name>Login</servlet-name>
    <servlet-class>br.com.renowe.view.loja.Login</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Login</servlet-name>
    <url-pattern>/loja/login</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Logout</display-name>
    <servlet-name>Logout</servlet-name>
    <servlet-class>br.com.renowe.view.loja.Logout</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Logout</servlet-name>
    <url-pattern>/loja/logout</url-pattern>
    <url-pattern>/pedido/logout</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CadastraCliente</display-name>
    <servlet-name>CadastraCliente</servlet-name>
    <servlet-class>br.com.renowe.view.loja.CadastraCliente</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CadastraCliente</servlet-name>
    <url-pattern>/loja/cadastraCliente</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>RemoveCarrinho</display-name>
    <servlet-name>RemoveCarrinho</servlet-name>
    <servlet-class>br.com.renowe.view.loja.RemoveCarrinho</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RemoveCarrinho</servlet-name>
    <url-pattern>/loja/removeCarrinho</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>EditaQuantidade</display-name>
    <servlet-name>EditaQuantidade</servlet-name>
    <servlet-class>br.com.renowe.view.loja.editaQuantidade</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EditaQuantidade</servlet-name>
    <url-pattern>/loja/editaQuantidade</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>MostraCliente</display-name>
    <servlet-name>MostraCliente</servlet-name>
    <servlet-class>br.com.renowe.view.pedido.MostraCliente</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MostraCliente</servlet-name>
    <url-pattern>/pedido/mostraCliente</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>EditaCliente</display-name>
    <servlet-name>EditaCliente</servlet-name>
    <servlet-class>br.com.renowe.view.pedido.EditaCliente</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EditaCliente</servlet-name>
    <url-pattern>/pedido/editaCliente</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ListaPedidosLoja</display-name>
    <servlet-name>ListaPedidosLoja</servlet-name>
    <servlet-class>br.com.renowe.view.pedido.ListaPedidos</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ListaPedidosLoja</servlet-name>
    <url-pattern>/pedido/listaPedidos</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>MostraPedidoLoja</display-name>
    <servlet-name>MostraPedidoLoja</servlet-name>
    <servlet-class>br.com.renowe.view.pedido.MostraPedido</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MostraPedidoLoja</servlet-name>
    <url-pattern>/pedido/mostraPedido</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Captcha</display-name>
    <servlet-name>Captcha</servlet-name>
    <servlet-class>br.com.renowe.view.loja.Captcha</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Captcha</servlet-name>
    <url-pattern>/loja/captcha.gif</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>EditaClienteAdmin</display-name>
    <servlet-name>EditaClienteAdmin</servlet-name>
    <servlet-class>br.com.renowe.view.admin.clientes.EditaClienteAdmin</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EditaClienteAdmin</servlet-name>
    <url-pattern>/admin/editaClienteAdmin</url-pattern>
  </servlet-mapping>
  <filter>
    <display-name>FilterAdmin</display-name>
    <filter-name>FilterAdmin</filter-name>
    <filter-class>br.com.renowe.view.admin.FilterAdmin</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>FilterAdmin</filter-name>
    <url-pattern>/admin/*</url-pattern>
  </filter-mapping>
  <servlet>
    <description></description>
    <display-name>CadastraAdmin</display-name>
    <servlet-name>CadastraAdmin</servlet-name>
    <servlet-class>br.com.renowe.view.admin.CadastraAdmin</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CadastraAdmin</servlet-name>
    <url-pattern>/admin/cadastraAdmin</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ListaAdmin</display-name>
    <servlet-name>ListaAdmin</servlet-name>
    <servlet-class>br.com.renowe.view.admin.ListaAdmin</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ListaAdmin</servlet-name>
    <url-pattern>/admin/listaAdmin</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>MostraAdmin</display-name>
    <servlet-name>MostraAdmin</servlet-name>
    <servlet-class>br.com.renowe.view.admin.MostraAdmin</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MostraAdmin</servlet-name>
    <url-pattern>/admin/mostraAdmin</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DeletaAdmin</display-name>
    <servlet-name>DeletaAdmin</servlet-name>
    <servlet-class>br.com.renowe.view.admin.DeletaAdmin</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeletaAdmin</servlet-name>
    <url-pattern>/admin/deletaAdmin</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LoginAdm</display-name>
    <servlet-name>LoginAdm</servlet-name>
    <servlet-class>br.com.renowe.view.LoginAdm</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginAdm</servlet-name>
    <url-pattern>/view/LoginAdm</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LogoutAdm</display-name>
    <servlet-name>LogoutAdm</servlet-name>
    <servlet-class>br.com.renowe.view.LogoutAdm</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LogoutAdm</servlet-name>
    <url-pattern>/view/LogoutAdm</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AtualizaPedido</display-name>
    <servlet-name>AtualizaPedido</servlet-name>
    <servlet-class>br.com.renowe.view.admin.pedidos.AtualizaPedido</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AtualizaPedido</servlet-name>
    <url-pattern>/admin/atualizaPedido</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>EditaAdmin</display-name>
    <servlet-name>EditaAdmin</servlet-name>
    <servlet-class>br.com.renowe.view.admin.EditaAdmin</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EditaAdmin</servlet-name>
    <url-pattern>/admin/editaAdmin</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>MostraClienteAdmin</display-name>
    <servlet-name>MostraClienteAdmin</servlet-name>
    <servlet-class>br.com.renowe.view.admin.clientes.MostraClienteAdmin</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MostraClienteAdmin</servlet-name>
    <url-pattern>/admin/mostraClienteAdmin</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DeleteClienteAdmin</display-name>
    <servlet-name>DeleteClienteAdmin</servlet-name>
    <servlet-class>br.com.renowe.view.admin.clientes.DeleteClienteAdmin</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteClienteAdmin</servlet-name>
    <url-pattern>/admin/deleteClienteAdmin</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CadastraClienteAdmin</display-name>
    <servlet-name>CadastraClienteAdmin</servlet-name>
    <servlet-class>br.com.renowe.view.admin.clientes.CadastraClienteAdmin</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CadastraClienteAdmin</servlet-name>
    <url-pattern>/admin/cadastraClienteAdmin</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>PDFServlet</display-name>
    <servlet-name>PDFServlet</servlet-name>
    <servlet-class>br.com.renowe.view.admin.PDFServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PDFServlet</servlet-name>
    <url-pattern>/admin/report</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ChartServlet</display-name>
    <servlet-name>ChartServlet</servlet-name>
    <servlet-class>br.com.renowe.view.admin.ChartServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ChartServlet</servlet-name>
    <url-pattern>/admin/chart.gif</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Contato</display-name>
    <servlet-name>Contato</servlet-name>
    <servlet-class>br.com.renowe.view.loja.Contato</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Contato</servlet-name>
    <url-pattern>/loja/contato</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <servlet-name>pegaTotalPedido</servlet-name>
    <servlet-class>br.com.renowe.view.loja.pegaTotalPedido</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>pegaTotalPedido</servlet-name>
    <url-pattern>/loja/pegaTotalPedido</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>relatorioPedidos</display-name>
    <servlet-name>relatorioPedidos</servlet-name>
    <servlet-class>br.com.renowe.view.admin.pedidos.relatorioPedidos</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>relatorioPedidos</servlet-name>
    <url-pattern>/relatorioPedidos</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ValidacaoesLoja</display-name>
    <servlet-name>ValidacaoesLoja</servlet-name>
    <servlet-class>br.com.renowe.view.loja.ValidacaoesLoja</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ValidacaoesLoja</servlet-name>
    <url-pattern>/ValidacaoesLoja</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>pagamento</display-name>
    <servlet-name>pagamento</servlet-name>
    <servlet-class>br.com.renowe.pagseguro.Pagamento</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>pagamento</servlet-name>
    <url-pattern>/pagamento</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>esqueceuEmail</display-name>
    <servlet-name>esqueceuEmail</servlet-name>
    <servlet-class>br.com.renowe.view.loja.esqueceuEmail</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>esqueceuEmail</servlet-name>
    <url-pattern>/esqueceuEmail</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Notificacoes</display-name>
    <servlet-name>Notificacoes</servlet-name>
    <servlet-class>br.com.renowe.pagseguro.Notificacoes</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Notificacoes</servlet-name>
    <url-pattern>/Notificacoes</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>buscaPorCode</display-name>
    <servlet-name>buscaPorCode</servlet-name>
    <servlet-class>br.com.renowe.pagseguro.SearchTransactionByCode</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>buscaPorCode</servlet-name>
    <url-pattern>/buscaPorCode</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Propriedades</display-name>
    <servlet-name>Propriedades</servlet-name>
    <servlet-class>br.com.renowe.controle.Propriedades</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Propriedades</servlet-name>
    <url-pattern>/Propriedades</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SlideDeNoticias</display-name>
    <servlet-name>SlideDeNoticias</servlet-name>
    <servlet-class>br.com.renowe.view.admin.SlideDeNoticias</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SlideDeNoticias</servlet-name>
    <url-pattern>/admin/slideDeNoticias</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <description></description>
    <display-name>alteraImagemSlide</display-name>
    <servlet-name>alteraImagemSlide</servlet-name>
    <servlet-class>br.com.renowe.view.admin.alteraImagemSlide</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>alteraImagemSlide</servlet-name>
    <url-pattern>/admin/alteraImagemSlide</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <description></description>
    <display-name>editaSlide</display-name>
    <servlet-name>editaSlide</servlet-name>
    <servlet-class>br.com.renowe.view.admin.editaSlide</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>editaSlide</servlet-name>
    <url-pattern>/admin/editaSlide</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ViewProdutosCarrinho</display-name>
    <servlet-name>ViewProdutosCarrinho</servlet-name>
    <servlet-class>br.com.renowe.view.loja.ListaProdutosCarrinho</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ListaProdutosCarrinho</servlet-name>
    <url-pattern>/loja/viewCarrinho</url-pattern>
  </servlet-mapping>
</web-app>